{% extends 'base.html.twig' %}
{% from '::macros.html.twig' import favicon %}

{% block body %}
    <div id="mount"></div>
{% endblock %}

{%  block javascripts %}
    <script src="{{ asset('js/dashboard.min.js') }}"></script>
{% endblock %}
