{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="row" style="margin-top: 20px;">
<div class="col-md-12">
<p class="lead">
    Think of Link Stack as you bookmarks, but slightly better organized.
</p>

<p>
    Grab the source to run your own at <a href="https://github.com/victorhaggqvist/linkstack">https://github.com/victorhaggqvist/linkstack</a>, our sign in here.
</p>

<p>
    I do not leave any warranty of that this hosting will last forever, but I collect your e-mail when you sign in so I will notify you if things changes.
</p>
</div>
</div>
</div>
{% endblock %}
