{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="row" style="margin-top: 20px;">
<div class="col-md-12">
<p>
Link Stack was created to reduce the overflow of tabs and bookmarks in my browser.
I wanted an easy way to just stack links up but still being able to navigate them with ease when I might just remember the context.
</p>

<p>
At this time Link Stack have gone through about three major refactorings. It now runs in Symfony.
</p>

<p>
Feel free to try it out your self right now here.
Or you could grab a copy and host it your self.
ATM there it only support for OAuth with Google.
Though since OAuth is done with HWIOAuthBundle it should in theory not be too much work to att others if one would want.
</p>

<p>
I do not leave any warranty of that this hosting will last forever, but I collect your e-mail when you sign in so I will notify you if things changes.
</p>
</div>
</div>
</div>
{% endblock %}
