/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.stashitem{
  margin-bottom:10px;
}

.stashitem img{
  margin-right: 5px;
}

.stashitem .title{
  color: #000;
}

.stashitem .title{
  font-weight: bold;
}

.stashitem .head{
  border-bottom: 1px #ccc solid;
}

.stashitem .url:before{
  content: "- ";
}

.loading{
  background: url(../img/spinner.gif) no-repeat;
  padding-left: 25px;
  background-position: 5px 8px;
}